<!-- views/catdetail.ejs -->
<html>
<body class="center">
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>
<h1>Find an Occupation.</h1>

<div class="padded">

      <h2>Sector: <%= name %></h1><br>

        <div style="float:left;padding-left:25px;text-decoration:underline">Job or Occupation</div>
        <div style="float:right;padding-right:25px;text-decoration:underline">Median Salary</div>
        <br>

<ul>
  <% jobs.forEach(function(Job) { %>
    <li>
        <a class="button" href="./<%= id %>/job/<%= Job.id %>">
        <span class="job"><%= Job.jobtitle %></span>
        <span class="meta description"><%= Job.description.substr(0,100) %>...</span>
        <span class="meta salary"><%= numeral(Job.median_wage_2016).format('$0,0') %></span>
        <i class="chevron"></i>
      </a>

    </li>
  <% }) %>
</ul>
</div>
<br><br><p>Learn what you need to get ahead.</p>

<br><br>Or, <a href="/">start over.</a>
</body>
</html>
