<!-- views/catdetail.ejs -->
<html>
<body class="center">

<br><br><br>

<h1>Find an Occupation.</h1>

<ul>
    <li>
      <a><%= name %> jobs:</a><br>
    </li>
</ul>
<ul>
  <% jobs.forEach(function(Job) { %>
    <li>
      - <a href="./<%= id %>/job/<%= Job.id %>"><%= Job.jobtitle %>: <br><%= Job.description %></a><br><br>
    </li>
  <% }) %>
</ul>
<br><br><p>Learn what you need to get ahead.</p>

<br><br>Or, <a href="/">start over.</a>
</body>
</html>
