<!-- views/index.ejs -->
<html>
<body>

<h1 class="standard"><%= title %></h1>
<p>Welcome to <%= title %></p>

<a><form action="/" method="get">
  <button class="btn waves-effect waves-light" type="submit">Go back
    <i class="material-icons right">send</i>
  </button>
</form></a>

<ul>
  <% categories.forEach(function(Category) { %>
    <li>
      <a href="<%= .'/cat/'+Category.id %>"><%= Category.name %>, <%= Category.description %></a><br>
    </li>
  <% }) %>
</ul>
</body>
</html>
