<!-- views/inddetail.ejs -->
<html>
<body class="center">

  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>

<h1 class="standard">Find a Sector.</h1>
      <h2 class="standard">Industry: <%= name %></h1><br>
<div class="padded">
<ul>
  <% categories.forEach(function(Category) { %>
    <li>
      <a class="buttonind" href="./<%= id %>/cat/<%= Category.id %>?area=<%= queryAreaId %>">
        <span class="job"><%= Category.name %></span>
        <i class="chevron"></i>
      </a>
    </li>
  <% }) %>
</ul>
<br><br><p>See where new paths can take you.</p>

<br><br>Or, <a href="/">start over.</a>
</div>
</body>
</html>
