<!-- views/index.ejs -->
<html>
<body>

<br><br><br>

<h1><%= title %></h1>
<p>Welcome to the <%= title %></p>

<a><form action="/" method="get">
  <button class="btn waves-effect waves-light" type="submit">Start over
    <i class="material-icons right">send</i>
  </button>
</form></a>

<ul>
    <li>
      <a><%= name %> categories:</a><br>
    </li>
</ul>
<ul>
  <% categories.forEach(function(Category) { %>
    <li>
      <a href="./<%= id %>/cat/<%= Category.id %>"><%= Category.name %>.</a><br>
    </li>
  <% }) %>
</ul>
</body>
</html>
