<!-- views/index.ejs -->
<html>
<body class="center">
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
<h1 class="standard">Find an Industry</h1>
</div>
<div class="padded">
<div class="industry_boxes">
<ul>
  <% industries.forEach(function(Industry) { %>
    <li>
      <a href="/ind/<%= Industry.id %>?area=<%= queryAreaId %>"><img src="/img/industry/<%= Industry.name %>.jpg" width="100" height="100"> </a>
      <a href="/ind/<%= Industry.id %>?area=<%= queryAreaId %>"><%= Industry.name %></a><br>
    </li>
  <% }) %>
</ul>
</div>

<p class="center">Choose one of the high-growth, high-pay industries above to continue your search.</p>

<br><br>Or, <a href="/">start over.</a>
</div>
</body>
</html>
