<!-- views/jobdetail.ejs -->
<html>
<body>
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>
<div class="padded">
<h1><%= job.jobtitle %></h1>

<div class="halfpad">
  <% job.Areas.forEach(function(Area) { %>
   <h2>Area: <%= Area.name %></h2>

    <% }) %>

<p class=italic><%= job.description %></p><br>
</div>
</div>


<% job.Areas.forEach(function(Area) { %>

<div class="center">
<div class="boxdisp"><h2><%= numeral(Area.JobArea.a_mean).format('$0,0') %></h2><p>Median salary</p></div>
<div class="boxdisp"><h2><%= job.empl_change_pct %>%</h2><p>Long-term job growth</p></div>
<br><br><br>
</div>


    <% }) %>

<div class="padded">

<ul class="collapsible" data-collapsible="expandable">

  <!-- Tasks -->

  <li>
    <div class="collapsible-header active teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Tasks</div>
    <div class="collapsible-body teal lighten-5"><span>
      <% if (tasks.length > 0) { %>

      <p><%= job.jobtitle %> may be responsible for the following tasks:
      <ul>
        <% tasks.forEach(function(Task) { %>
          <li>- <%= Task.name %>
          </li>
        <% }) %></p>
      </ul>
      <% } else { %>
        <p>We don't currently have any tasks defined for <%= job.jobtitle %>.  Try another job, or check your local education provider.</p>
      <% } %>
    </span></div>
  </li>

  <!-- Education, Degrees, Knowledge -->

  <li>
    <div class="collapsible-header active teal lighten-3"><i class="material-icons">add</i>Education</div>
    <div class="collapsible-body teal lighten-5"><span>

<!-- education -->


      <u>Degrees and Education</u>
<ul>
<li><p>- <%= zone.education %></p></li>
</ul>
<br>

<!-- Degrees -->



<!-- Knowledge -->

<u>Key Knowledge Areas</u>

<% if (knowledges != null) { %>

<p>People in this career typically have strong backgrounds in:

  <% knowledges.forEach(function(Knowledge) { %>
    <ul>

    <li><p><b><%= Knowledge.name %></b>.  <%= Knowledge.description %></p></li>

</ul>
<% }) %>

<% } else { %>
  <p>We don't have any job knowledge information yet.  Please check again later.</p>
  <% } %>
<br>

<!-- end -->

</span>
</div>

  </li>

<!-- Job boards -->

  <li>
    <div class="collapsible-header active teal lighten-3"><i class="material-icons">add</i>Jobs in Your Area</div>
    <div class="collapsible-body teal lighten-5"><span>Looking for a career in this field?  Check your local job board site.</span></div>
  </li>

<!-- Career Changers and Starters -->

<li>
<div class="collapsible-header teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Related Careers</div>
<div class="collapsible-body teal lighten-5"><span>

  <u>Jobs for Job Changers</u>
  <p>Looking to change careers?  Here are some jobs that are similar to this one.</p>

<ul>
  <% job.jobchangers.forEach(function(Jobchanger) { %>

    <li>- <a href="../../<%= Jobchanger.categoryId %>/job/<%= Jobchanger.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">
      <%= Jobchanger.jobtitle %></a>
    </li>
  <% }) %></p>
</ul>

<p><u>Jobs to Get Started</u></p>
<p>Looking to get started in this career?  Here are some jobs that will give you valuable experience on the way.</p>

<ul>
  <% job.jobstarters.forEach(function(Jobstarter) { %>

    <li>- <a href="../../<%= Jobstarter.categoryId %>/job/<%= Jobstarter.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">
      <%= Jobstarter.jobtitle %></a>
    </li>
  <% }) %></p>
</ul>
</span>
</div>
</li>

<!-- Environment -->

    <li>
    <div class="collapsible-header teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Job Environment, Styles, and Values</div>
    <div class="collapsible-body teal lighten-5"><span>

    <!-- Job Zone -->

    <u>Job Zone</u>

    <% if (zone != null) { %>

    <p><%= zone.name %>.</p>
    <ul>
      <li><p>- <%= zone.experience %></p></li>
      <li><p>- <%= zone.training %></p></li>
      <li><p>- <%= zone.examples %></p></li>
    </ul>

    <% } else { %>
      <p>We don't have any job zone information yet.  Please check again later.</p>
      <% } %>
<br>
    <!-- Job Styles -->

    <u>Job Styles</u>

        <% if (styles != null) { %>

    <p>People in this career typically score highly on:

      <% styles.forEach(function(Style) { %>
        <ul>
        <li><p><b><%= Style.name %></b>.  <%= Style.description %></p></li>
</ul>
    <% }) %>

    <% } else { %>
      <p>We don't have any job style information yet.  Please check again later.</p>
      <% } %>
<br>

      <!-- Job Values -->

      <u>Job Values</u>

            <% if (values != null) { %>

      <p>People in this career typically care about:

        <% values.forEach(function(Value) { %>
          <ul>
          <li><p><b><%= Value.name %></b>.  <%= Value.description %></p></li>

  </ul>
      <% }) %>

      <% } else { %>
        <p>We don't have any job values information yet.  Please check again later.</p>
        <% } %>
  <br>

    <!-- end section -->

    </span>
  </div>
    </li>

<!-- Skills, Interests, Abilities -->

<li>
<div class="collapsible-header teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Skills, Interests, and Abilities</div>
<div class="collapsible-body teal lighten-5"><span>

  <!-- Job Skills -->

  <u>Job Skills</u>

    <% if (skills != null) { %>

  <p>People in this career typically score highly on:

    <% skills.forEach(function(Skill) { %>
      <ul>

      <li><p><b><%= Skill.name %></b>.  <%= Skill.description %></p></li>

</ul>
  <% }) %>

  <% } else { %>
    <p>We don't have any job skill information yet.  Please check again later.</p>
    <% } %>
<br>

  <!-- Job Interests -->

  <u>Job Interests</u>

    <% if (interests != null) { %>

  <p>People in this career are typically:

    <% interests.forEach(function(Interest) { %>
      <ul>

      <li><p><b><%= Interest.name %></b>.  <%= Interest.description %></p></li>

</ul>
  <% }) %>

  <% } else { %>
    <p>We don't have any job interest information yet.  Please check again later.</p>
    <% } %>
<br>

    <!-- Job Abilities -->

    <u>Job Abilities</u>

        <% if (abilities != null) { %>

    <p>People in this career typically have strong:

      <% abilities.forEach(function(Ability) { %>
        <ul>

        <li><p><b><%= Ability.name %></b>.  <%= Ability.description %></p></li>

  </ul>
    <% }) %>

    <% } else { %>
      <p>We don't have any job ability information yet.  Please check again later.</p>
      <% } %>
  <br>

  <!-- end section -->

  </span>
</div>
  </li>

<!-- end -->

</div>
</ul>
<div class="padded">
  <div class="halfpad">
<br>
<a href="/">Do it again.</a>
</div>
</body>
</html>
