<!-- views/jobdetail.ejs -->
<html>
<body class="jobdetail">
  <div class="parent">
<hr>
<div class="row">
  <div class="col hide-on-small-only m3 l2" style="position:sticky;top:0">
    <a href="/"><img src="/img/logo.jpg" style="width:100px;height:auto;padding-top:10px"></a>
    <ul class="section table-of-contents">
      <li><a href="#home">Home</a></li>
      <li><a href="#tasks">Tasks</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills and Abilities</a></li>
      <li><a href="#environment">Work Environment</a></li>
      <li><a href="#careers">Other Careers</a></li>
    </ul>
  </div>

<div class="col m9 l10">

         <div id="home" class="section scrollspy">
         <div class="jdpadded">
<h1 class="posttitle">What Do <%= job.jobtitle %> Do?</h1>
</div>

  <div class="authorimage"><img class="normal" width="30" height="30" src="/img/dog_small.jpg"></div>
<span class="authorskill">Skill</span><span class="authorterrier">Terrier</span><br>
<span class="date"><% dt = date.format(new Date(), 'MMMM D, YYYY'); %><%= dt %></span><br>

</br>
<div class="jdpadded">


  <div class="jdhalfpad">



      <h3 class="jobdetail">Is this a good role for me?</h3>

  <p>You may have read about them on the internet, seen something about them in the news, or heard about them in a conversation.  Maybe a guidance counselor thought you'd be a good fit and recommended you learn more.  You may even have a friend or family member who's one.  But what do they actually do, and how do you get a job like that?  Keep reading to find out.</p>
  </div>

</div>

</div>


<% job.Areas.forEach(function(Area) { %>

<div class="center">
  <div class="container">


<!-- Materialize card for Salary Info -->

<div class="boxdisplay">
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image wages-effect waves-block waves-light">
          <img src="/img/money.jpg">
        </div>
        <div class="card-content">

            <span class="card-title activator grey-text text-darken-4"></span>
          <span class="card-title"><%= numeral(Area.JobArea.a_mean).format('$0,0') %></span>
            <% job.Areas.forEach(function(Area) { %>
             <%= Area.name %> median salary for this occupation.
              <% }) %>
                <% if (Area.JobArea.a_mean > 65240) { %>Wow!  That's in the top quarter of jobs in the United States.  Check the educational details below to see how you can qualify.
                <% } else if (Area.JobArea.a_mean > 37610) { %>That's in the top half of jobs in the United States.  Pretty good!<br><br>
                <% } else { %>That's lower than half of the jobs in the United States.  That's not bad, but if you want to apply to a job like this, think about using it as a way to get experience rather than a long-term career option.
                <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Materialize card for Job Growth Info -->

<div class="boxdisplay">
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image wages-effect waves-block waves-light">
          <img src="/img/clipboard.jpg">
        </div>
        <div class="card-content">

            <span class="card-title activator grey-text text-darken-4"></span>
          <span class="card-title"><%= job.empl_change_pct %>%</span>
            The expected growth in the number of jobs in this field nationwide by 2026.
                <% if (Area.JobArea.a_mean > 8) { %>That's a lot of openings.  Keep reading to see how you might qualify for one.<br><br>
                <% } else if (Area.JobArea.a_mean > 4) { %>Looks like a safe bet -- solid growth and solid potential.<br><br>
                <% } else if (Area.JobArea.a_mean > 0) { %>Not too much growth here.  That's not necessarily a bad thing, but make sure you think about back-up plans.
                <% } else { %>This job won't immediately disappear, but in the next few years, there will be less demand.  Think carefully about back-up plans before pursuing this role.
                <% } %>
        </div>
      </div>
    </div>
  </div>
</div>


    <% }) %>
</div>

</div>


<div class="jdpadded">

  <div class="jdhalfpad">


      <!-- Description and Tasks -->

               <div id="tasks" class="section scrollspy">

      <h3 class="jobdetail">What do <%= changeCase.lowerCase(job.jobtitle) %> do?</h3>
  <p><%= changeCase.upperCaseFirst(changeCase.lowerCase(job.jobtitle)) %> <%= changeCase.lowerCaseFirst(job.description) %><br><br>


  <% if (tasks.length > 0) { %>

In a typical work day, <%= changeCase.lowerCase(job.jobtitle) %> might be expected to:

    <% tasks.forEach(function(Task) { %>
      <ul class="list">
          <li class="list"><%= Task.name %></li>
      </ul>
    <% }) %></p>

    <p class="italic">Does this sound like a job that you might be interested in?  Keep reading to learn what personality types are best suited for a role like this,
      what educational opportunities you can take advantage of to best position yourself for success, and where to apply for specific jobs in your area.</p>

  <% } else { %>
    <p>Does this sound like a role you might be interested in?  Keep reading to find out who might do well in this job.</p>
  <% } %>
</div>

  <!-- Education, Knowledge -->

           <div id="education" class="section scrollspy">

  <h3 class="jobdetail">What kind of education do <%= changeCase.lowerCase(job.jobtitle) %> typically have?</h3>


    <div class="jdimageright">
  <img src="/img/college.jpg">
    </div>

<!-- Education - from basic DoL job description data, not the more complex version (yet) -->
<% if (zone != null) { %>
<%= zone.education %>
<% } %>

<!-- Knowledges -->

<% if (knowledges != null) { %>

<p>People in this career typically have strong backgrounds in:

  <% knowledges.forEach(function(Knowledge) { %>
    <ul class="list">

    <li class="list"><p><b><%= Knowledge.name %></b>.  This is a <%= changeCase.lowerCaseFirst(Knowledge.description) %></p></li>

</ul>
<% }) %>

<% } else { %>
  <p>We don't have any job knowledge information yet.  Please check again later.</p>
  <% } %>

</div>

    <!-- Skills, Interests, Abilities -->

             <div id="skills" class="section scrollspy">

    <h3 class="jobdetail">What skills, interests, and abilities do <%= changeCase.lowerCase(job.jobtitle) %> need to have?</h3>


      <!-- Job Skills -->

        <% if (skills != null) { %>

          <p>Most occupations require workers to be proficient in certain areas.  Some might require strong writing abilities, for example, while others might require people to be great listeners.
            People in this career typically score highly on:

        <% skills.forEach(function(Skill) { %>
          <ul class="list">

          <li class="list"><p><b><%= Skill.name %></b>.  <%= Skill.description %></p></li>

    </ul>
      <% }) %>

      <% } else { %>
        <p></p>
        <% } %>

      <!-- Job Interests -->

        <% if (interests != null) { %>

      <p>Different careers require people who enjoy different ways of approaching problems.  For example, some occupations are best for people who like to work with their hands, while others are better for people who enjoy spending time thinking creatively about abstract concepts.
        People in this career are typically:

        <% interests.forEach(function(Interest) { %>
          <ul class="list">

          <li class="list"><p><b><%= Interest.name %></b>.  <%= Interest.description %></p></li>

    </ul>
      <% }) %>

      <% } else { %>
        <p></p>
        <% } %>

        <!-- Job Abilities -->

            <% if (abilities != null) { %>

              <p>Most occupations require workers to be good at certain things.  Unlike skills, which are often related to performance on a specific task, abilities are the enduring attributes that influence a worker's overall performance on the job.
                People in this career are typically very good at:

          <% abilities.forEach(function(Ability) { %>
            <ul class="list">

            <li class="list"><p><b><%= Ability.name %></b>.  <%= Ability.description %></p></li>

      </ul>
        <% }) %>

        <% } else { %>
          <p></p>
          <% } %>

        </div>

      <!-- Zone, Style, Values -->

               <div id="environment" class="section scrollspy">

      <h3 class="jobdetail">What is the typical working environment for <%= changeCase.lowerCase(job.jobtitle) %>?</h3>

      <!-- Job Zone -->

      <% if (zone != null) { %>

      <p>The working environment for this career is classified as "<%= zone.name %>".  Jobs with such an environment typically have a few things in common.  For example: </p>
      <ul class="list">
        <li><%= zone.experience %></li></ul>
        <ul class="list">
        <li><%= zone.training %></li></ul>
        <ul class="list">
        <li><%= zone.examples %></li>
      </ul>

      <% } else { %>
        <p></p>
        <% } %>

      <!-- Job Styles -->

    <div class="jdimageleft">
      <img src="/img/laptops.jpg">
    </div>

          <% if (styles != null) { %>

      <p><%= changeCase.upperCaseFirst(changeCase.lowerCase(job.jobtitle)) %> aren't all the same, but they often share similar personal styles or ways of working.  The most effective people in this career typically enjoy working in roles that require:

        <% styles.forEach(function(Style) { %>
          <ul class="list">
          <li class="list"><p><b>

          <!-- this is how you get the value for each style:
            <% Style.Jobs.forEach(function(Job) { %><%= Job.JobStyle.value %><% }) %>
          -->

            <%= Style.name %></b>.  This means that the <%= changeCase.lowerCaseFirst(Style.description) %></p></li>
  </ul>
      <% }) %>

      <% } else { %>
        <p></p>
        <% } %>

        <!-- Job Values -->

              <% if (values != null) { %>

        <p>Lastly, <%= changeCase.lowerCase(job.jobtitle) %> often share similar values in the workplace.  In particular, they typically care about:

          <% values.forEach(function(Value) { %>
            <ul class="list">
            <li class="list"><p><b><%= Value.name %></b>.  <%= Value.description %></p></li>

    </ul>
        <% }) %>

        <% } else { %>
          <p></p>
          <% } %>
</div>

                <!-- Career Changers and Starters -->

                         <div id="careers" class="section scrollspy">
                <!-- Changer Cards -->

      <h3 class="jobdetail">What other careers might I be interested in?</h3>

      <% if(job.jobchangers != 0) { %>
      <p>Are you looking to change careers from this one, or to explore other careers that might be similar?  Here are some jobs that share many of the same characteristics as this one.</p>

      <div class="container">
      <% job.jobchangers.forEach(function(Jobchanger) { %>

        <div class="otherjobs">
        <div class="col s12 m12 l12">
          <div class="card horizontal">
            <div class="card-image" style="width:80px;height:auto;background-color: #6C6C6C">
              <img src="/img/gradient.png" style="width:80px;height:auto">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                    <span class="card-title"><%= Jobchanger.jobtitle %></span>

                          <% job.Areas.forEach(function(Area) { %>

                                    <p>Annual Salary in <%= Area.name %>: <%= numeral(Area.JobArea.a_mean).format('$0,0') %></p><br>

                                    <% }) %>

                                    <p><i><%= Jobchanger.description %></p></i>
              </div>
              <div class="card-action">
                <a href="../../<%= Jobchanger.categoryId %>/job/<%= Jobchanger.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">Explore this job</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% }) %></p><br>
      <% } %>
    </div>

      <!-- Starter Cards -->


      <% if(job.jobstarters != 0) { %>

    <p>Are you interested in having this job later in your career, but wondering what kind of job is a good way to get started right now?  Here are some jobs that will give you valuable experience on the way.</p>


      <div class="container">
      <% job.jobstarters.forEach(function(Jobstarter) { %>

        <div class="otherjobs">
        <div class="col s12 m12 l12">
          <div class="card horizontal">
            <div class="card-image" style="width:80px;height:auto;background-color: #6C6C6C">
              <img src="/img/gradient.png" style="width:80px;height:auto">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                    <span class="card-title"><%= Jobstarter.jobtitle %></span>

                          <% job.Areas.forEach(function(Area) { %>

                                    <p>Annual Salary in <%= Area.name %>: <%= numeral(Area.JobArea.a_mean).format('$0,0') %></p><br>

                                    <% }) %>

                                    <p><i><%= Jobstarter.description %></p></i>
              </div>
              <div class="card-action">
                <a href="../../<%= Jobstarter.categoryId %>/job/<%= Jobstarter.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">Explore this job</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% }) %></p>
      <% } else { %>
        <p>Use the SkillTerrier tool to help find out what other jobs might be interesting for you.</p>
        <% } %>

  </div>

</div>


<!-- end -->

<div class="jdpadded">
  <div class="jdhalfpad">
<br>
<div class="center">
<a class="waves-effect waves-light btn" href="/">Do it again.</a>

 </div>
</div>
</div>

</div>
</div>
</div>
</div>
</body>
</html>
