<!-- views/jobdetail.ejs -->
<html>
<body>
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>
<div class="padded">
<h1><%= jobtitle %></h1>
<div class="halfpad">

<p class=italic><%= description %></p><br>
</div>
</div>


<% job.Areas.forEach(function(Area) { %>

<div class="center">
<div class="boxdisp"><h2><%= numeral(Area.JobArea.a_mean).format('$0,0') %></h2><p>Median salary</p></div>
<div class="boxdisp"><h2><%= empl_change_pct %>%</h2><p>Long-term job growth</p></div>
<br><br><br>
</div>


    <% }) %>

<div class="padded">
<div id="divider"></div>
<div class="halfpad">
<h2>Tasks</h2>
<p><%= jobtitle %> may be responsible for the following tasks:
<ul>
  <% tasks.forEach(function(Task) { %>
    <li>- <%= Task.name %>
    </li>
  <% }) %></p>
</ul><br>
</div>
<div id="divider"></div>
<div class="halfpad">

<h2>Education</h2>
<p>Check your local college for information about educational opportunities in this field.</p><br>

</div>
  <div id="divider"></div><br>
  <div class="halfpad">

  <h2>Careers</h2>
  <p>Looking for a career in this field?  Check your local job board site.</p><br>

  </div>
    <div id="divider"></div><br>


<a href="/">Do it again.</a>
</div>
</body>
</html>
