<!-- views/jobdetail.ejs -->
<html>
<body>
  <div class="parent">
  <img width="400" height="400" src="/img/mainstreet.jpg">
</div>
<div class="padded">
<h1><%= jobtitle %></h1>

<div class="halfpad">
  <% job.Areas.forEach(function(Area) { %>
   <h2>Area: <%= Area.name %></h2>

    <% }) %>

<p class=italic><%= description %></p><br>
</div>
</div>


<% job.Areas.forEach(function(Area) { %>

<div class="center">
<div class="boxdisp"><h2><%= numeral(Area.JobArea.a_mean).format('$0,0') %></h2><p>Median salary</p></div>
<div class="boxdisp"><h2><%= empl_change_pct %>%</h2><p>Long-term job growth</p></div>
<br><br><br>
</div>


    <% }) %>

<div class="padded">

<ul class="collapsible" data-collapsible="expandable">

  <!-- Tasks -->

  <li>
    <div class="collapsible-header active teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Tasks</div>
    <div class="collapsible-body teal lighten-5"><span>
      <% if (tasks.length > 0) { %>

      <p><%= jobtitle %> may be responsible for the following tasks:
      <ul>
        <% tasks.forEach(function(Task) { %>
          <li>- <%= Task.name %>
          </li>
        <% }) %></p>
      </ul>
      <% } else { %>
        <p>We don't currently have any tasks defined for <%= jobtitle %>.  Try another job, or check your local education provider.</p>
      <% } %>
    </span></div>
  </li>

  <!-- Education providers -->

  <li>
    <div class="collapsible-header active teal lighten-3"><i class="material-icons">add</i>Education</div>
    <div class="collapsible-body teal lighten-5"><span>We don't currently have any educational opportunities defined for <%= jobtitle %>.  Try another job, or check your local education provider.</span></div>
  </li>

<!-- Job boards -->

  <li>
    <div class="collapsible-header active teal lighten-3"><i class="material-icons">add</i>Jobs in Your Area</div>
    <div class="collapsible-body teal lighten-5"><span>Looking for a career in this field?  Check your local job board site.</span></div>
  </li>

<!-- Career Changers and Starters -->

<li>
<div class="collapsible-header teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Related Careers</div>
<div class="collapsible-body teal lighten-5"><span>

  <u>Jobs for Job Changers</u>
  <p>Looking to change careers?  Here are some jobs that are similar to this one.</p>

<ul>
  <% changers.forEach(function(Changer) { %>

    <li>- <a href="../../<%= Changer.categoryId %>/job/<%= Changer.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">
      <%= Changer.jobtitle %></a>
    </li>
  <% }) %></p>
</ul>

<br>
<p><u>Jobs to Get Started</u></p>
<p>Looking to get started in this career?  Here are some jobs that will give you valuable experience on the way.</p>

<ul>
  <% starters.forEach(function(Starter) { %>

    <li>- <a href="../../<%= Starter.categoryId %>/job/<%= Starter.id %>?area=<% job.Areas.forEach(function(Area) { %><%=Area.code%><% }) %>">
      <%= Starter.jobtitle %></a>
    </li>
  <% }) %></p>
</ul>
</span>
</li>

<!-- Job Zones -->

<li>
<div class="collapsible-header teal lighten-3" color="#4db6ac"><i class="material-icons">add</i>Job Environment</div>
<div class="collapsible-body teal lighten-5"><span>

<u>Job Zone</u>
<p><%= job.Zone.name %>.</p>
<ul>
  <li><p>- <%= job.Zone.experience %></p></li>
  <li><p>- <%= job.Zone.education %></p></li>
  <li><p>- <%= job.Zone.training %></p></li>
  <li><p>- <%= job.Zone.examples %></p></li>
</ul>

</span>
</li>

<!-- end -->

</div>
</ul>
<div class="padded">
  <div class="halfpad">
<br>
<a href="/">Do it again.</a>
</div>
<div>


</div>
</body>
</html>
